@{
    ViewBag.Title = "RecoverPasswordResult";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="auth">
    <header class="auth__header">
        <h1 class="title">Cancer Lab</h1>
    </header>

    <a class="link" href="@Url.Action("Login", "Account")">Вернуться на страницу Входа</a>


</section>