@model CancerLabWeb.Models.ResetPasswordModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="login">
    <header class="login__header">
        <h1 class="title">Cancer Lab</h1>
    </header>

    @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { @class = "form form_action_recovery" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <label class="label" for="Email">Восстановление доступа</label>
        <input class="input" id="Email" type="text" name="Email" placeholder="Введите почтовый адрес" tabindex="1">
        <button class="button" type="submit" tabindex="4">Восстановить пароль</button>
    }
    <a class="link" href="@Url.Action("Login","Account")">Вернуться на страницу Входа</a>
</section>