@model CancerLabWeb.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Регистрация";
}

<section class="registration">
    <header class="registration__header">
        <h1 class="title">Cancer Lab – регистрация</h1>
    </header>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form form_action_register" }))
    {
        @Html.AntiForgeryToken()
        <input class="input" type="text" name="Email" placeholder="E-mail" tabindex="1">
        <input class="input" type="password" name="Password" placeholder="Пароль" tabindex="2">
        <input class="input" type="password" name="ConfirmPassword" placeholder="Повторите пароль" tabindex="3">
        <input class="input" type="text" name="LastName" placeholder="Фамилия" tabindex="4">
        <input class="input" type="text" name="Name" placeholder="Имя" tabindex="5">
        <input class="input" type="text" name="SecondName" placeholder="Отчество" tabindex="6">
        <input class="input" type="text" name="PhoneNumber" placeholder="Номер телефона" tabindex="7">
        <input class="input" type="text" name="Organisation" placeholder="Организация" tabindex="8">
        <input class="input" type="text" name="Position" placeholder="Должность" tabindex="9">

        <div class="form__group">
            <button class="button" type="reset" tabindex="11">Сбросить</button>
            <button class="button" type="submit" tabindex="10">Регистрация</button>
        </div>
    }
    <a class="link" href="@Url.Action("Login", "Account")">Вход в систему</a>
    @{
        foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                <div class="alert alert_type_error">@error.ErrorMessage</div>
            }
        }
    }
</section>