@model CancerLabWeb.Areas.Dashboard.Models.ResetPasswordModel

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Dashboard/Views/Shared/_AccountLayout.cshtml";
}

<section class="auth">
    <header class="auth__header">
        <h1 class="title">Cancer Lab</h1>
    </header>

    @using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { @class = "form form_action_recovery" }))
    {
        @Html.AntiForgeryToken()
        <label class="label" for="Email">Восстановление доступа</label>
        <input class="input" id="Email" type="text" name="Email" placeholder="Введите почтовый адрес" tabindex="1">
        <button class="button" type="submit" tabindex="4">Восстановить пароль</button>
    }
    <a class="link" href="@Url.Action("Login", "Account")">Вернуться на страницу Входа</a>
    @if (Request.RequestType == "POST" && ViewData.ModelState.Values.Count(x => x.Errors.Count > 0) == 0)
    {
        <footer class="auth__footer alert alert_type_success">
            <div class="alert__item">Новый пароль выслан вам на почту</div>
        </footer>
    }
    else
    {
        if (ViewData.ModelState.Values.Count(x => x.Errors.Count > 0) > 0)
        {
            <footer class="auth__footer alert alert_type_error">
                @foreach (var modelState in ViewData.ModelState.Values)
                {
                    if (modelState.Errors.Count > 0)
                    {
                        foreach (var error in modelState.Errors)
                        {
                            <div class="alert__item">@error.ErrorMessage</div>
                        }
                    }
                }
            </footer>
        }
    }
</section>