/* BEGIN RESET
--------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, section, summary, audio, video,
input, textarea, select, button
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: none;
}
/* END RESET
--------------------------------------------------------------------------------------------------*/


/* BEGIN Base
--------------------------------------------------------------------------------------------------*/
.button
{
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid transparent;

    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.page
{
    background: #f9f9f9 !important;
}

.ui-scrollview-view
{
    display: flex;
    flex-direction: column;
}

.page .header
{
    /*background: #1976d2;*/
}

.page .content
{
    padding: 5%;
}
/* END Base
--------------------------------------------------------------------------------------------------*/


/* BEGIN Pages
--------------------------------------------------------------------------------------------------*/
.page_type_splash
{
    background: #0d47a1 !important;
}

.page_type_splash .content
{
    text-align: center;
    padding: 10%;
    color: #fff;
}

.page_type_splash .title
{
    flex-grow: 3;
}

.page_type_splash .text
{
    flex-grow: 2;
}


.page_type_auth .text
{
    flex-grow: 2;
}

.page_type_auth .footer
{
    display: block;
    height: auto;
    text-align: center;
}

.page_type_auth .button
{
    margin-left: 16px !important;
    margin-right: 16px !important;
}
/* END Pages
--------------------------------------------------------------------------------------------------*/

