<div class="footer" data-role="footer" data-position="fixed">
    <a class="ui-btn button" href="#splash">Return to the start</a>
</div>

<div id="popup" class="ui-popup">
    <div id="popupText" class="ui-popup-content popup-content-padding"></div>
    <div id="popupButtons" class="ui-popup-footer"></div>
</div>

<form class="form form_action_main" action="http://alpha.cancerlab.pro/api/account/getProfile" method="get">
    <button type="submit">Получить</button>
</form>

<div class="text"></div>
<div class="user"></div>