@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,cyrillic);
@import url(font-awesome.min.css);
@import url(../plugins/dropdown/jquery.dropdown.css);


/* BEGIN RESET
--------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, section, summary, audio, video,
input, textarea, select, button
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

img
{
    max-width: 100%;
    height: auto;

    border: 0;
}

ul
{
    list-style: none;
}

input,
textarea
{
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea
{
    resize: vertical;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder
{
    color: #bdc1c4;
}

input[placeholder],
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder
{
    text-overflow: ellipsis;
}

.clearfix:before,
.clearfix:after
{
    display: table;

    content: '';
}

.clearfix:after
{
    clear: both;
}

.clearboth
{
    clear: both;
}
/* END RESET
--------------------------------------------------------------------------------------------------*/


/* BEGIN Components' Styles
--------------------------------------------------------------------------------------------------*/
.input
{
    font: 14px 'Roboto', Arial, sans-serif;

    height: 40px;
    padding: 10px;

    vertical-align: middle;

    color: inherit;
    border: solid 1px #e5e5e5;
    background: #fff;

    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.input:focus
{
    border-color: #0a81d1;
}

.textarea
{
    font: 14px 'Roboto', Arial, sans-serif;

    min-height: 70px;
    padding: 10px;

    vertical-align: middle;

    color: inherit;
    border: solid 1px #e5e5e5;
    background: #fff;

    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.button
{
    font: 14px 'Roboto', Arial, sans-serif;

    display: inline-block;

    height: 40px;
    padding: 10px;

    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid transparent;
    background: #666;

    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.button:disabled
{
    background: #777;
}

.button[type="submit"]
{
    color: #ffffff !important;
    background: #0a81d1;
}

.button[type="submit"]:hover
{
    background: #4f92d1;
}

.button[type="submit"]:active
{
    background: #5396d1;
}

.checkbox
{
    margin: 0 8px 2px 0;

    vertical-align: middle;
}

.radio
{
    margin: 0 6px 2px 0;

    vertical-align: middle;
}

.link
{
    text-decoration: none;

    color: #0a81d1;
}

.link:hover
{
    text-decoration: underline;
}

.badge_type_warn
{
    color: #a94442;
}

.badge_type_success
{
    color: #3c763d;
}

.alert
{
    padding: 10px 30px;
}

.alert_type_error
{
    color: #a94442;
    border-color: #ebccd1;
    background-color: #f2dede;
}

.alert_type_success
{
    color: #3c763d;
    border-color: #d6e9c6;
    background-color: #dff0d8;
}

.alert_type_warning
{
    color: #8a6d3b;
    border-color: #faebcc;
    background-color: #fcf8e3;
}

.alert_type_info
{
    color: #31708f;
    border-color: #bce8f1;
    background-color: #d9edf7;
}

.alert__item
{
    padding: 5px 0;

    text-align: left;
}

.table
{
    width: 100%;

    border-collapse: collapse;
}

.table__cell
{
    padding: 10px;

    vertical-align: middle;
}

.table__body .table__row:nth-child(odd) .table__cell
{
    background: #f1f1f1;
}

.col,
div[class*='col-']
{
    float: left;

    padding: 0 10px;
}
/* END Components' Styles
--------------------------------------------------------------------------------------------------*/


/* BEGIN Page Styles
--------------------------------------------------------------------------------------------------*/
.page
{
    font: 14px 'Roboto', Arial, sans-serif;

    color: #666;
    background: #f5f5f5;
}

.page__body
{
    min-width: 1080px;
    margin: auto;
}

.page__wrapper
{
    position: relative;
    top: 0;

    height: 100vh;
}

.sidebar
{
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;

    width: 260px;
    padding: 0 20px;

    color: #fff;
    background: #164c89;
}

.sidebar__logo
{
    height: 56px;
    margin: 0 -20px;
    padding: 15px;

    text-align: center;

    border-bottom: 1px solid #e5e5e5;
}

.logo
{
    font-size: 18px;
    font-weight: 300;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
}

.menu
{
    margin: 20px 0 0;
}

.menu__link
{
    display: block;

    width: 100%;
    margin: 0 0 10px;
    padding: 10px 15px;

    text-decoration: none !important;
    text-transform: uppercase;

    color: #fff;
}

.menu__link:hover,
.menu__link_state_active
{
    background: rgba(255, 255, 255, 0.23);
}

.menu .fa
{
    margin: 0 15px 0 0;
}

.section
{
    float: right;

    width: calc(100% - 260px);
    height: 100%;
    max-height: 100%;
    padding-bottom: 60px;
}

.header
{
    height: 56px;
    padding: 8px 20px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
}

.header .title
{
    font-weight: 300;

    float: left;

    padding: 6px 30px 6px 0;
}

.notifications
{
    float: left;

    margin: 8px 0;
}

.notifications__link
{
    font-size: 18px;

    text-decoration: none;

    color: #a94442;
}

.notifications .badge
{
    font-size: 15px;
}

.user-panel
{
    float: right;

    text-align: right;
}

.user-panel .fa
{
    margin: 0 10px 0 0;
}

.footer
{
    font-size: 15px;

    position: absolute;
    bottom: 0;

    overflow: hidden;

    width: calc(100% - 260px);
    height: 56px;
    padding: 18px 20px;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
}

.footer__navigation
{
    float: left;

    width: 50%;
}

.footer .link
{
    margin: 0 15px 0 0;
}

.copyright
{
    float: right;

    width: 50%;

    text-align: right;
}
/* END Page Styles
--------------------------------------------------------------------------------------------------*/


/* BEGIN Auth Styles
--------------------------------------------------------------------------------------------------*/
.auth
{
    width: 420px;
    margin: 100px auto;

    text-align: center;

    background: #fff;
    -webkit-box-shadow: 0 0 30px 0 #bbb;
    -moz-box-shadow: 0 0 30px 0 #bbb;
    box-shadow: 0 0 30px 0 #bbb;
}

.auth__header
{
    padding: 30px 60px 20px;

    color: #fff;
    background: #0a81d1;
}


.auth .form
{
    padding: 0 60px 10px;
}

.auth .link
{
    display: inline-block;

    margin: 0 0 20px;
}
/* END Auth Styles
--------------------------------------------------------------------------------------------------*/


/* BEGIN Form Styles
--------------------------------------------------------------------------------------------------*/
.form
{
    position: static;
}

.form__group
{
    clear: both;
}

.form__group:before,
.form__group:after
{
    display: table;

    content: '';
}

.form__group:after
{
    clear: both;
}

.form_action_login,
.form_action_recovery
{
    margin: 20px 0 0;
}

.form_action_login .input,
.form_action_login .button,
.form_action_recovery .input,
.form_action_recovery .button
{
    width: 100%;
    margin: 10px 0;
}

.form_action_recovery .label
{
    padding: 10px 0 5px;
}

.form_action_register
{
    margin: 20px 0 0;
}

.form_action_register .input
{
    width: 100%;
    margin: 10px 0;
}

.form_action_register .form__group
{
    margin: 10px 0 30px;
}

.form_action_register .button
{
    padding: 10px 20px;
}

.form_action_register .button[type="reset"]
{
    float: left;
}

.form_action_register .button[type="submit"]
{
    float: right;
}

.form_action_search
{
    margin: 0 -20px;
    padding: 20px;
}

.form_action_search .input
{
    width: 100%;
    padding: 0;

    color: #fff;
    border-color: #e5e5e5;
    background: rgba(255, 255, 255, 0.15);
}
/* END Form Styles
--------------------------------------------------------------------------------------------------*/